TOKEN_WEBHOOK=
TOKEN_QUERY=

MODEL_LLM_DISCUSSION=-
URL_API_LLM_DISCUSSION=
LLM_DISCUSSION_API_KEY=

MODEL_LLM_FORMAT=
URL_API_LLM_FORMAT=
LLM_FORMAT_API_KEY=


EVOLUTION_API_KEY=
EVOLUTION_URL_MESSAGE=
EVOLUTION_URL_BASE_64=

SAP_QUERY_SERVICE=

TRANSCRIPTION_API_KEY=
TRANSCRIPTION_MODEL=
TRANSCRIPTION_API_URL=

CONNECTION_STRING_CONVERSATIONS=

AES_192_KEY=
